/* Howdy! */

/* Universal Styles */

  /* yeah i'll [: do it later [: trust me [;
    why [: do you look :] like you don't [:
    trust me? :[ */

    #images-1 {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    #images-1  img{
      max-width: 25%;
    }

    #section-1 {
      display: flex;
      flex-direction: column;
    }

    #order-button {
      text-align: center;
      background-color: gray;
      color: white;
      border: 2px solid black;
      border-radius: 5px;
      padding: 0.5em;
      /*padding: 5px 100%;
      margin: auto;*/
    }

    #order-button:hover {
      background-color: aquamarine;
      color: red;
    }

    #the-big-one {
      max-width: 100%;
      margin: auto;
    }

    
    footer {
      text-align: center;
      border: 2px solid gray;
      border-radius: 5px;
    }

/* End of Universal Styles */



/* Mobile View */
@media screen and (max-width:480px) {
  
  body {
    text-align: center;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    /*gap: 1em;*/
  }

  /*
  header {
    position: relative;
    z-index: 1;
    background-image: radial-gradient(#000, 5%, #0000, #0000);
  }
  */

  #the-big-one {
    /*
    position: relative;
    z-index: -1;
    top: -120px;
    max-width: 90%;
    */
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  h1 {
    margin: 0.5em auto 0;
  }

  p {
    margin: 0.5em;
  }

  #images-1 img:nth-of-type(1n + 2) {
    display: none;
  }

  #images-1 img {
    max-width: 90%;
  }

}
/* End of Mobile View */


/* Tablet View */
@media screen and (min-width:480px) and (max-width:960px) {

  body {
    display: flex;
    flex-direction: column;
  }

  /*  Not ready yet, commented out to prevent breaking. */
  main {
    display: grid;
    /*grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 2fr;*/
    grid-template-columns: 1fr 2fr;

    gap: 10px;
    
    #the-big-one {grid-area: the-big-one;}
    #section-1 {grid-area: section-1;}
    #images-1 {grid-area: images-1;}
    #section-2 {grid-area: section-2;}
    #images-2 {grid-area: images-2;}
    #section-3 {grid-area: section-3;}

    grid-template-areas: 
      "the-big-one the-big-one"
      "section-1 images-1"
      "section-1 section-2"
      "section-1 section-2"
      "images-2 section-3";
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header img {
    max-width: 10%;
  }

  header nav {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  #the-big-one {
    width: 100%;
    /*height: 50%;*/
  }

  h1 {
    margin: 0.5em auto 0;
  }

  #images-2 {
    max-width: 90%;
  }

}
/* End of Tablet View */


/* Desktop View */
@media screen and (min-width:960px) {
  
  #the-big-one {
    width: 100%;
  }

}
/* End of Desktop View */


/* Print View */
@media print {

  /* Printer Unfriendly */
  * {
    background-image: linear-gradient(black, green);
    color:blue;
    font-size: 80px;
    border: solid 5px red;
    line-height: 2px;
  }

}
/* End of Print View /
