/* Howdy! */

/* Universal Styles */

  /* yeah i'll [: do it later [: trust me [;
    why [: do you look :] like you don't [:
    trust me? :[ */

/* End of Universal Styles */



/* Mobile View */
@media screen and (max-width:480px) {
  
  body {
    text-align: center;
  }

}
/* End of Mobile View */


/* Tablet View */
@media screen and (min-width:480px) and (max-width:960px) {

  /*  Not ready yet, commented out to prevent breaking. */
  /*
  body {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
    header {grid-area: header}

  }
  */
  
  #the-big-one {
    width: 100%;
  }

}
/* End of Tablet View */


/* Desktop View */
@media screen and (min-width:960px) {
  
  #the-big-one {
    width: 100%;
  }

}
/* End of Desktop View */


/* Print View */
@media print {

  /* Printer Unfriendly */
  * {
    background-image: linear-gradient(black, green);
    color:blue;
    font-size: 80px;
    border: solid 5px red;
    line-height: 2px;
  }

}
/* End of Print View /
